name: Node CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.x]

    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: npm install, build, and test
      run: |
        npm i
        npm run lint
        npm run test
      env:
        CI: true
        TWITCH_USERNAME: ${{ secrets.TWITCH_USERNAME }}
        TWITCH_TOKEN: ${{ secrets.TWITCH_TOKEN }}
        GOOGLE_CALENDAR_CLIENT_EMAIL: ${{ secrets.GOOGLE_CALENDAR_CLIENT_EMAIL }}
        GOOGLE_CALENDAR_PRIVATE_KEY: ${{ secrets.GOOGLE_CALENDAR_PRIVATE_KEY }}
        GOOGLE_CALENDAR_CALENDAR_ID: ${{ secrets.GOOGLE_CALENDAR_CALENDAR_ID }}

    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID_DEPLOY }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY_DEPLOY }}
        aws-region: ap-northeast-1

    - name: Deployment by Serverless Framework
      run: |
        npm run deploy
